body {
    font-family: "Courier",  monospace;
}



.wrapper {
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 90%;
    padding-right:0%;
    padding-left: 0%;
}   


input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type=text] {
  width:40%;
  margin-left: auto;
  margin-right: auto;
    padding: 1%;
        height: 10px;

    margin: 1% 0;
}

input[type=button] {
  width:40%;
    background-color: gray;
    border: none;
    color: black;
    
    text-decoration: none;
    font-weight: bold;
        height: 20px;
    margin: 1% 0;
    cursor: pointer;
}
input[type=text]:focus {
    background-color: lightblue;
}
input[type=button]:hover {
    background-color: #686868;
}

#Main_heading{
     text-align: center;
}

#messages {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 12px;
    width:78%;
    display: inline-block;
    border:1px solid black;
    max-height: 200px;
    min-height: 200px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

#messages_content {
  display: table-cell;
  vertical-align: bottom;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slidecontainer {
    width: 78%; /* Width of the outside container */
    position: fixed;
    bottom: 5%;
    margin-left: 11%;
    margin-right: auto;
    
  }
 

  
  /* The slider itself */
  #slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

    
  
  /* Mouse-over effects */
  #slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  #slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: textfield;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: context-menu; /* Cursor on hover */
  }
  
  #slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: text; /* Cursor on hover */
  }
}